h2 {
  font-size: clamp(2.5rem, 3vw, 4rem);
  line-height: 1;
}
h3 {
  font-size: clamp(2rem, 2.25vw, 3rem);
  line-height: 1;
}

a,
p {
  font-size: 1.5rem;
}
.page-link {
  font-size: 1.25rem;
}
.faq button {
  font-size: clamp(1.5rem, 3vw, 2rem);
}
h4 {
  font-size: 1.75rem;
}

header {
  &.home {
    h1 {
      font-size: clamp(3.5rem, 8vw, 8rem);
      line-height: 1.2;
    }

    h2 {
      font-size: clamp(2rem, 5vw, 5rem);
      line-height: 1;
    }
  }

  &.journey,
  &.work,
  &.inquiries {
    h1 {
      font-size: clamp(3rem, 6vw, 6rem);
      line-height: 1.2;
    }

    h2 {
      font-size: clamp(1.75rem, 3vw, 3rem);
      line-height: 1;
    }
  }
}

.topnav {
  .logo {
    font-size: 2.25rem;
  }
  a {
    font-size: 1.1rem;
  }
  svg {
    font-size: 1.5rem;
  }
}
